*{
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
}

.header {
    min-height: 100vh;
    width: 100%;
    background-image: url(../images/camelDos.jpg);
    background-position: center; 
    background-size: cover;
    position: relative; 
    overflow: hidden; 
     max-height: 100vh; 
    background-repeat: no-repeat;
}


nav {
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
    float: right;
    flex: 1;
}


.nav-links ul li {
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}

.nav-links ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 13px;
}

.nav-links ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: #f44336 ;
    display: block;
    margin: auto;
    transition: 0.5s;
}

.nav-links ul li:hover::after{
    width: 100%;
}

.text-box{
    width: 90%;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}

.text-box h1{
    font-size: 62px;
}
.text-box p {
    margin: 10px 0 40px;
    font-size: 14px;
    color: #fff;
}

.hero-btn{
    display: inline-block;
    text-decoration: none;
    color: #fff;
    border: 1px solid #fff;
    padding: 12px 34px;
    background: transparent;
    position: relative;
    cursor: pointer;
}
.hero-btn:hover{
    border: 1px solid #f44336;
    background: #f44336;
    transition: 1s;
}

nav .fas{
    display: none;
}

@media screen and (max-width: 700px) {
    .text-box h1 {
      font-size: 20px;
    }
    .nav-links ul li {
      display: block;
    }
    .nav-links {
      position: absolute;
      background: #f44336;
      height: 100vh;
      width: 200px;
      top: 0;
      right: -200px;
      text-align: left;
      z-index: 2;
      transition: 1S;
    }
    nav .fas{
        display: block;
        color: #fff;
        margin: 10px;
        font-size: pointer;
    }
    .nav-links ul{
        padding: 30px;
    }
  }




        /* ACTIVIDADES */





.actividades {
    width: 100%;
    text-align: center;
    padding-top: 100px;
    margin-left: 0%;
    margin-right: 0%;


}

.actividades h1{
    font-family: 'Lato', sans-serif;
    font-size: 50px;
    
}


 .row {
    display: flex;
    flex-wrap: wrap;
  }

  .col-izq, .col-medio, .col-der {
    flex: 1;
    align-self: center;
    text-align: center;
    position: relative; /* Add position relative to the parent divs */

  }

  .col-izq img, .col-medio img, .col-der img {
    border-radius: 10%;
    margin-bottom: 10px;
    max-width: 100%;
    height: auto;
    width: 80%;
    margin-top: 50px;
    color: transparent;
    



  }


  .layer {
      height: 100%;
      width: 100%;
      position: absolute;
      top: 0;
      left: 0;
      display: flex; /* Add display flex to center the content */
      justify-content: center; /* Add justify-content center to center the content */
      align-items: center; /* Add align-items center to center the content */

  }

  
.col-izq:hover img,
.col-medio:hover img,
.col-der:hover img {
    filter: brightness(0.7); /* Set the brightness to 70% when hovering over the images */
}


  .layer h3 {
     width: 100%;
     font-weight: 500;
     color: #fff;
     font-size: 26px;
     bottom: 0;
     left: 50%;
     transform: translateX(-50%);
     position: absolute;
     opacity: 0;
     transition: 0.5s;
  }

  .layer:hover h3{
    bottom: 49%;
    opacity: 1;
  }


  .cta {
    margin: 100px;
    width: 80%;
    /* background-image: linear-gradient(rgba(0,0,0,0.7,)rgba(0,0,0,0.7,)), url(../images/arquitecturaCeleste.jpg); */

  }


  

 



